*.iml
.gradle
local.properties
.DS_Store
build/
captures/
.externalNativeBuild
*.swp
*.pyc
*.*~
weblate_web/files/
*.mo
db.sqlite3
django
.nb-gradle/
.idea/
app/private/
app/release/
app/debug/
/yourlocalweather-wearos/release/yourlocalweather-wearos-release.aab
