{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Try Weblate" %}{% endblock %}
{% block header %}{% trans "Try Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate has useful features for every crowdsourced localization." %}{% endblock %}
{% endblock %}


{% block extrajumbo %}
<p>
<a class="btn btn-info btn-lg" href="https://demo.weblate.org/" role="button"><i class="fas fa-search"></i> {% trans "Try Weblate" %}</a>
</p>
{% endblock %}

{% block content %}
{% url 'download' as download_url %}

<h2>{% trans "Demo server" %}</h2>

<p>
{% blocktrans %}Try Weblate on the <a href="https://demo.weblate.org">demo server</a>. Register there and work under your username, or just use username: <code>demo</code> with password: <code>demo</code>.{% endblocktrans %}
</p>

<p>{% trans "To test the review workflow there, log in with username: <code>review</code>, and password: <code>review</code>." %}</p>

<h2>{% trans "Screenshots" %}</h2>

{% for screenshot in screenshots %}
<a href="/media/screenshots/{{ screenshot.0 }}" class="screenshot" title="{{ screenshot.1 }}">
<img src="/media/thumbnails/{{ screenshot.0 }}">
{{ screenshot.2 }}
</a>
{% endfor %}


{% endblock %}

